---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Contacto',
  ignoreTitleTemplate: true
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="¡Bienvenido a la página de contacto de GTY!" title="Contactanos!" />

  <ContactUs
    title="¡Envíanos un mensaje hoy!"
    subtitle = 'Ya sea que tengas preguntas sobre nuestros proyectos y servicios, estés interesado en colaborar con nosotros o simplemente quieras compartir tus comentarios, estamos aquí para escucharte.',
    inputs={[
      {
        type: 'text',
        name: 'Name',
        label: 'Nombre',
      },
      {
        type: 'email',
        name: 'Email',
        label: 'Correo electrónico',
      },
    ]}
    textarea={{
      label: 'Mensaje',
    }}
    disclaimer={{
      label:
        'Al enviar este formulario de contacto, usted reconoce y acepta la recopilación de su información personal.',
    }}
   
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
  </ContactUs>

  <!-- Features2 Widget ************** -->

  <Features2

    title="Estamos aquí para ayudarte!"
    items={[
      {
        title: 'Contacto soporte técnico',
        description: `📞 +569 57350439`,
        description2: '📧 soporte@gty.cl',
        icon: 'tabler:phone-check',
      },
      {
        title: 'Contacto comercial',
        description: '📞  +569 57350439',
        description2:'📧 ventas@gty.cl',
        icon: 'tabler:headset'
      },
      {
        title: 'Buscanos en linkedin!',
        description: `<div class="flex items-center ">
            <a href="https://www.linkedin.com/company/gty">Presiona aquí:</a>    
          <a href="https://www.linkedin.com/company/gty">
              <img
                height="30px"
                width="30px"
                src="/backgroundImages/brand-linkedin.png"
                alt="LinkedIn"
              />
            </a></div>`,
        icon: 'tabler:brand-linkedin'
      },
    ]}
  />
</Layout>
