---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Brands from '~/components/widgets/Brands.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'GTY - Expertos en TI',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/linkeid.jpeg', alt: 'TrabajadoresGTY' }}>
    <Fragment slot="title">
      Somos expertos <span class="hidden xl:inline">en</span>
      <span class="text-accent dark:text-white highlight"> TI</span>
       .Entregamos soluciones TI para tu negocio.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="sm:inline " >En<span class="font-semibold text-blue-600">GTY</span> , nos enorgullece ser tu aliado estrat茅gico en
        el mundo en constante evoluci贸n de la Tecnolog铆a de la Informaci贸n (TI). Con un equipo de expertos altamente
        calificados y apasionados, estamos comprometidos en proporcionar soluciones innovadoras y a medida para
        potenciar el rendimiento y el 茅xito de tu negocio.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="QuienesSomos"
    title="驴Qui茅nes Somos?"
    subtitle="Somos una empresa joven y moderna compuesta de profesionales con vasta experiencia en el desarrollo y soporte de proyectos inform谩ticos."
    items={[
      {
        title: 'Misi贸n',
        description:
          'Ayudar a nuestros clientes a mejorar sus procesos productivos aportando con nuestro conocimiento, compromiso y experiencias, para hacer m谩s eficientes sus procesos negocio y mejorar sus sistemas inform谩ticos que los sostienes e proveen informaci贸n de gesti贸n de ellos. Generar relaciones de confianza y de largo plazo que permitan alcanzar sus metas estrat茅gicas y mejorar el desempe帽o de su negocio.',
        icon: 'tabler:school',
      },
      {
        title: 'Visi贸n',
        description:
          'Ser una empresa consultora reconocida en el mercado por la calidad y excelencia de nuestros resultados, como consecuencia del conocimiento, profesionalismo y compromiso de cada uno de los integrantes de nuestro equipo. Consolidarnos como el Partner Tecnol贸gico por excelencia de nuestros clientes.',
        icon: 'tabler:eyeglass-2',
      },
    ]}
  />
  <!-- FEATURES2 (SERVICIOS) Widget **************** -->
  <Features2
    title="Nuestros servicios"
    items={[
      {
        title: 'Mantenimiento Sistema SAP ',
        description: "Contamos con consultores funcionales en los m贸dulos SD, MM, HCM, FI-CO, CS, WTY, HCM, entre otros. Adem谩s, contamos con un equipo de consultores t茅cnicos ABAP con conocimientos funcionales en los principales m贸dulos de SAP.",
        icon: 'tabler:nut',
      },
      {
        title: 'Integraciones con sistemas ERP',
        description:
          "Contamos con experiencia en integraci贸n de diversas aplicaciones y softwares comerciales con ERP's, tales como: Salesforce, Rindegastos, Gaxu, Acepta, Qlikview, entre otras plataformas.",
        icon: 'tabler:user-square',
      },
      {
        title: 'Consultor铆a de Procesos',
        description:
          'Analizamos y alineamos cada proceso proponiendo recomendaciones para generar soluciones eficientes, efectivas y a la medida; con el foco de maximizar la rentabilidad y la sustentabilidad de las empresas.',
        icon: 'tabler:arrow-autofit-content',
      },
      {
        title: 'Desarrollo Web y Mobile',
        description:
          "Construimos p谩ginas intranet y extranet web que te ayudan en los procesos de la empresa y a gestionar la informaci贸n desde cualquier lugar y dispositivo; Desarrollamos aplicaciones para Iphone, Android y Tablet. Nos enfocamos en la creatividad, simplicidad, usabilidad y experiencia de usuario; Ofrecemos un servicio de mantenimiento de paginas web integrales y personalizadas para tu negocio.",
        icon: 'tabler:device-mobile-cog',
      },
      {
        title: 'Gesti贸n de Proyectos',
        description:
          'A trav茅s de nuestros servicios vinculados a la pr谩ctica de Gesti贸n de Proyectos contribuimos a que las organizaciones generen valor para sus clientes, accionistas y empleados; por medio del desarrollo de proyectos que generalmente apuntan a alcanzar la estrategia y por ende la visi贸n de cada organizaci贸n.',
        icon: 'tabler:calendar-stats',
      },
      {
        title: 'Outsourcing',
        description: 'Apoyamos poniendo en dispocisi贸n de nuestros clientes a los mejores profesionales para que se integren a tus equipos de trabajo, conocemos el mercado laboral y tenemos experiencia en distintas industrias, ayudamos a encontrar a los mejores profesionales en cada area para cubrir cada puesto de trabajo.',
        icon: 'tabler:receipt',
      }
    ]}
    
  >
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
  </Features2>



  <!-- Brands Widget **************** -->
  
  <Brands
    title="Clientes"
    subtitle="En GTY, nos enorgullece contar con la confianza de una diversa comunidad de clientes que han elegido nuestra experiencia y dedicaci贸n. Cada cliente es 煤nico, y en GTY valoramos profundamente las relaciones que hemos construido a lo largo de los a帽os."
    icons={[]}
    images={[
      {
        src: '/images/clientes/comercio/fosforos.png',
        alt: 'Imagen no encontrada',
      },
      {
        src: '/images/clientes/comercio/py.png',
        alt: 'Imagen no encontrada',
      },
      {
        src: '/images/clientes/educacion/institucion-universitaria.png',
        alt: 'Imagen no encontrada',
      },

      {
        src: '/images/clientes/educacion/universidad-andres-bello.png',
        alt: 'Imagen no encontrada',
      },
      {
        src: '/images/clientes/educacion/universidad-los-andes.png',
        alt: 'Imagen no encontrada',
      },
      {
        src: '/images/clientes/gobierno/sii.png',
        alt: 'Imagen no encontrada ',
      },
      {
        src: '/images/clientes/logistica/espol.png',
        alt: 'Imagen no encontrada',
      },
      {
        src: '/images/clientes/logistica/loaded-rolling.png',
        alt: 'Imagen no encontrada',
      },
      {
        src: '/images/clientes/logistica/tw.png',
        alt: 'Imagen no encontrada tw',
      },
      {
        src: '/images/clientes/medica/alatheia.png',
        alt: 'Imagen no encontrada ',
      },
      {
        src: '/images/clientes/medica/imagen-salud.png',
        alt: 'Imagen no encontrada',
      },
      {
        src: '/images/clientes/retail/coagra.png',
        alt: 'Imagen no encontrada',
      },
      {
        src: '/images/clientes/retail/copeval.png',
        alt: 'Imagen no encontrada',
      },
      
    ]}

    
    
  />

  <!--Componente Steps2 PARA CONTACTENOS -->
  <Steps2
  title="Contactanos!"
  subtitle="驴Tienes preguntas? No dude en contactarnos utilizando la siguiente informaci贸n. 隆Estamos aqu铆 para ayudar!"
  items={[
    {
      title: 'T茅cnico',
      description: ' soporte@gty.cl',
      number:' +569 57350439' ,
      icon: 'tabler:phone-check',
    },
    {
      title: 'Comercial',
      description: ' ventas@gty.cl',
      number: ' +569 57350439',
      icon: 'tabler:headset',
    }
  ]}
>
<Fragment slot="bg">
  <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
</Fragment>
</Steps2>



</Layout>
