---
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Content2 from '~/components/widgets/Content2.astro';

const metadata = {
  title: 'Proyectos',
  ignoreTitleTemplate: true
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[{ variant: 'secondary', text: 'Ver proyectos', href: '#proyectos' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Proyectos en
      <span class="text-accent dark:text-white highlight"> GTY</span>
    </Fragment>

    <Fragment slot="subtitle">
      En GTY, nos complace mostrarte el universo de posibilidades que ofrecemos a través de nuestros servicios y proyectos excepcionales. Nos dedicamos apasionadamente a brindar soluciones innovadoras y a materializar ideas audaces.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Content2
    id = 'proyectos'
    title="Algunos proyectos de GTY"
    image={{
      src: '/images/servicios/saas-smartcollect.png',
      alt: 'imagen no encontrada saas2',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold text-center tracking-tight dark:text-white sm:text-3xl">
        Smart Collect
      </h3>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content2
    image={{
      src: '/images/servicios/saas-tw.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold text-center tracking-tight dark:text-white sm:text-3xl">
        Proyecto desarrollado para TW Logística
      </h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content2
    image={{
      src: '/backgroundImages/web-mobile.png',
      alt: 'No se encuentra la imagen web-mobile',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold text-center tracking-tight dark:text-white sm:text-3xl">
        Plataforma web desarrollada para Copeval
      </h3>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
