---
import { NoClientEntrypoint } from 'node_modules/astro/dist/core/errors/errors-data';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';

import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Proyectos y servicios',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    title="Proyectos y servicios en GTY"
    subtitle="En GTY, nos complace mostrarte el universo de posibilidades que ofrecemos a través de nuestros servicios y proyectos excepcionales. Nos dedicamos apasionadamente a brindar soluciones innovadoras y a materializar ideas audaces."
    actions={[{ variant: 'secondary', text: 'ver servicios', href: '#servicios' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Imagen no encontrada',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    id="servicios"
    ,
    title="Servicios en GTY"
    ,
    items={[
      {
        title: 'Mantenimiento Sistema SAP ',
        description:
          'Contamos con consultores funcionales en los módulos SD, MM, HCM, FI-CO, CS, WTY, HCM, entre otros. Además, contamos con un equipo de consultores técnicos ABAP con conocimientos funcionales en los principales módulos de SAP.',
        icon: 'tabler:nut',
      },
      {
        title: 'Integraciones con sistemas ERP',
        description:
          "Contamos con experiencia en integración de diversas aplicaciones y softwares comerciales con ERP's, tales como: Salesforce, Rindegastos, Gaxu, Acepta, Qlikview, entre otras plataformas.",
        icon: 'tabler:user-square',
      },
      {
        title: 'Consultoría de Procesos',
        description:
          'Analizamos y alineamos cada proceso proponiendo recomendaciones para generar soluciones eficientes, efectivas y a la medida; con el foco de maximizar la rentabilidad y la sustentabilidad de las empresas.',
        icon: 'tabler:arrow-autofit-content',
      },
      {
        title: 'Desarrollo Web y Mobile',
        description:
          'Construimos páginas intranet y extranet web que te ayudan en los procesos de la empresa y a gestionar la información desde cualquier lugar y dispositivo; Desarrollamos aplicaciones para Iphone, Android y Tablet. Nos enfocamos en la creatividad, simplicidad, usabilidad y experiencia de usuario; Ofrecemos un servicio de mantenimiento de paginas web integrales y personalizadas para tu negocio.',
        icon: 'tabler:device-mobile-cog',
      },
      {
        title: 'Gestión de Proyectos',
        description:
          'A través de nuestros servicios vinculados a la práctica de Gestión de Proyectos contribuimos a que las organizaciones generen valor para sus clientes, accionistas y empleados; por medio del desarrollo de proyectos que generalmente apuntan a alcanzar la estrategia y por ende la visión de cada organización.',
        icon: 'tabler:calendar-stats',
      },
      {
        title: 'Outsourcing',
        description:
          'Apoyamos poniendo en dispocisión de nuestros clientes a los mejores profesionales para que se integren a tus equipos de trabajo, conocemos el mercado laboral y tenemos experiencia en distintas industrias, ayudamos a encontrar a los mejores profesionales en cada area para cubrir cada puesto de trabajo.',
        icon: 'tabler:receipt',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Content Widget **************** -->
  <!-- PRIMER PROYECTO **************** -->

  <Content
    isReversed
    title="Algunos proyectos de GTY"
    items={[
      {
        title: 'Built on top of Astro 4.0',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Styled using Tailwind CSS',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Cross-browser compatibility',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: '/images/servicios/saas-smartcollect.png',
      alt: 'imagen no encontrada saas2',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyecto desarrollado para la empresa Smart Collect
      </h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
    ]}
    image={{
      src: '/images/servicios/saas-tw.png',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Proyecto desarrollado para la empresa TW Logística
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
        width: 100,
      },
    ]}
    image={{
      src: '/backgroundImages/web-mobile.png',
      alt: 'No se encuentra la imagen web-mobile',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Aplicación web desarrollada para la empresa Copeval
      </h3>
    </Fragment>
  </Content>


  <!--OTRA FORMA DE MOSTRAR LOS PROYECTOSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS -->



</Layout>
